:root.theme-light {
  --background-image: url('../images/cover-image-light.png');
  --color-replacing-background-image: #ffeef6;
  --decoration-element-color: #353430;
  --decoration-element-display: none;
  --button-text-color: #353430;
  --button-hover-color: rgb(53, 52, 48, 0.4);
  --button-focus-color: #353430;
  --active-theme-outline-color: #353430;
  --title-color: #FFC2E6;
  --title-shadow-color: #FF8DCB;
  --accent-color: #FF8DCB;
  --header-paragraph-color: #353430;
  --article-color: #353430;
  --block-heading-text-color: #353430;
  --title-text-color: #353430;
  --paragraph-text-color:#353430;
  --link-shadow-color: #FFC2E6;
  --link-hover-underline-color: #353430;
  --link-focus-outline-color: #353430;
}

@media (prefers-color-scheme: light) {
  :root {
    --background-image: url('../images/cover-image-light.png');
    --color-replacing-background-image: #ffeef6;
    --decoration-element-color: #353430;
    --decoration-element-display: none;
    --button-text-color: #353430;
    --button-hover-color: rgb(53, 52, 48, 0.4);
    --button-focus-color: #353430;
    --active-theme-outline-color: #353430;
    --title-color: #FFC2E6;
    --title-shadow-color: #FF8DCB;
    --accent-color: #FF8DCB;
    --header-paragraph-color: #353430;
    --article-color: #353430;
    --block-heading-text-color: #353430;
    --title-text-color: #353430;
    --paragraph-text-color:#353430;
    --link-shadow-color: #FFC2E6;
    --link-hover-underline-color: #353430;
    --link-focus-outline-color: #353430;
  }
}