.page {
  font-family: 'IBM Plex mono', sans-serif;
  background-image: var(--background-image);
  background-color: var(--color-replacing-background-image);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

.header {
  height: 100vh;
  min-height: 668px;
  display: grid;
  padding: 10px;
  grid-template-rows: 1fr max-content 1fr;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  border-inline-start: 1px solid  var(--decoration-element-color);
  border-block-end: 1px solid var(--decoration-element-color);
  align-self: end;
}

.decorated-zone::after {
  content: "";
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  border-inline-end: 1px solid  var(--decoration-element-color);
  border-block-start: 1px solid var(--decoration-element-color);
  justify-self: end;
}

.decoration-element {
  display: var(--decoration-element-display);
  position: absolute;
  right: 38px;
  top: 11px;
  color: var(--decoration-element-color);
  font-weight: 400;
  font-size: 18px;
  margin-right: max(0px, calc((100vw - 1440px) / 2));
}

.decoration-element::after {
  content: "";
  position: absolute;
  inline-size: 9px;
  block-size: 9px;
  border-radius: 50%;
  background-color: var(--decoration-element-color);
  box-shadow: 0 0 4px 2px var(--decoration-element-color);
  right: -19px;
  top: 7px;
}

.header__theme-menu {
  grid-row: auto;
  align-self: center;
}

.header__theme-menu-list {
  display: grid;
  width: max-content;
  justify-self: end;
  gap: 10px;
}

.header__theme-menu-item {
  inline-size: 70px;
  block-size: 26px;
  text-align: center;
}

.header__theme-menu-button {
  color: var(--button-text-color);
  text-transform: lowercase;
  background-color: transparent;
  font-size: 18px;
  line-height: 18px;
  inline-size: 70px;
  height: 100%;
  text-align: center;
  display: grid;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--button-hover-color);
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--button-focus-color);
}

.header__theme-menu-button_active {
  outline: 1px solid currentColor;
  pointer-events: none
}

.title {
  color: var(--title-color);
  font-size: var(--logo-size);
  font-weight: 700;
  grid-row: auto;
  text-wrap: wrap;
  text-shadow: 4px 4px 0 var(--title-shadow-color);
  line-height: 95.7px;
}

.header__paragraph {
  display: block;
  width: 100%;
  height: min-content;
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
  align-self: center;
  background-color: var(--accent-color);
  color: var(--header-paragraph-color);
}

.main {
  display: grid;
  padding: 0 10px;
  gap: 50px;
  padding-block: 40px;
}

.main__text-block {
  display: grid;
  gap: 20px;

}

.main__text-block_images {
  display: grid;
  gap: 10px;
}

.main__text-block_article {
  display: block;
  position: relative;
  color: var(--article-color);
  font-weight: 700;
  font-size: 18px;
  height: max-content;
}

.main__text-block-content {
  display: grid;
  gap: 20px 0;
}

.main__text-block_description {
  display: grid;
  position: relative;
  gap: 10px;
}

.main__text-block_title {
  display: block;
  position: relative;
  background-color: var(--accent-color);
  color: var(--title-text-color);
  height: max-content;
}

.main__text-block_title-less-emphasis {
  display: block;
  position: relative;
  font-weight: 400;
  background-color: var(--accent-color);
  color: var(--title-text-color);
  height: max-content;
}

.main__text-block_paragraph {
  font-family: 'IBM Plex mono', sans-serif;
  display: block;
  position: relative;
  color: var(--paragraph-text-color);
  line-height: 23.4px;
  font-weight: 400;
  font-size: 18px;
}

.main__text-block_link {
  text-shadow: 2px 1px 0 var(--link-shadow-color);
}

.main__text-block_link:hover {
  border-bottom: 1px solid var(--link-hover-underline-color);
}

.main__text-block_link:focus-visible {
  outline: 1px solid var(--link-focus-outline-color);
}

.main__text-block-image {
  width: 100%;
}

.footer {
  height: 100vh;
  min-height: 668px;
  padding: 10px;
  display: grid;
  justify-content: center;
  align-content: center;
}

@media (width >= 768px) {
  .header {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "theme-buttons theme-buttons"
      "title title"
      ". paragraph";
    padding: 20px;
    min-height: 1024px;
  }

  .decoration-element {
    right: 48px;
    top: 21px;
  }

  .header__theme-menu {
    grid-area: theme-buttons;
    align-self: self-start;
    margin-block-start: 174px;
  }

  .title {
    grid-area: title;
    margin-inline-start: -20px;
  }

  .title:last-child {
    margin-inline-start: 0;
  }

  .header__paragraph {
    grid-area: paragraph;
    align-self: self-start;
    margin-block-start: 164px;
  }

  .main {
    padding: 60px 20px;
    gap: 80px;
  }

  .main__text-block_group-content {
    grid-template-columns: 236px 1fr;
  }

  .main__text-block_content {
    grid-column: 1 / 4;
  }

  .main__text-block_multi-section {
    grid-template-columns: repeat(3, 1fr);
  }

  .main__text-block_images {
    gap: 20px;
    grid-template-areas: 
      "mountains mountains ice-cream"
      "tape books ice-cream"
      "tape street street";
  }

  .description-modification_bigger-gap {
    gap: 20px;
  }

  .main__text-block_images img:nth-child(1) {
    grid-area: mountains;
  }

  .main__text-block_images img:nth-child(2) {
    grid-area: ice-cream;
  }

  .main__text-block_images img:nth-child(3) {
    grid-area: tape;
  }

  .main__text-block_images img:nth-child(4) {
    grid-area: books;
  }

  .main__text-block_images img:nth-child(5) {
    grid-area: street;
  }

  .main__text-block_article {
    width: 100%;
  }

  .main__text-block_description {
    grid-column: 2;
  }

  .footer {
    padding: 20px;
    min-height: 1024px;
  }
}

@media (width >= 1024px) {
  .header {
    min-height: 768px;
  }

  .header__theme-menu {
    margin-block-start: 2px;
    justify-self: center;
  }

  .header__theme-menu-list {
    display: flex;
    flex-direction: row;
  }

  .header__paragraph {
    margin-block-start: 130px;
  }

  .main__text-block_group-content {
    grid-template-columns: 1fr 649px;
  }

  .main__text-block_multi-section {
    display: grid;
    grid-template-rows: min-content 1fr;
    grid-template-columns: repeat(3, 1fr);
  }

  .main__text-block_multi-section .main__text-block-content {
    grid-row: 2 / auto;
    grid-column: 1 / 4;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .main__text-block_multi-section .main__text-block_description {
    grid-column: auto;
  }

  .description_tight-layout {
    gap: 0;
  }

  .main__text-block_description {
    grid-column: auto;
    grid-template-rows: min-content 1fr;
  }

  .main__text-block_title {
    height: min-content;
  }

  .main__text-block_paragraph {
    justify-self: start;
  }

  .footer {
    min-height: 768px;
  }
}